@import "~bootstrap/scss/bootstrap";

body {
  background-color: #181d25;
  color: white;
}

.page-container {
  padding: 20px;
}

.platform-toggle {
  margin-right: 10px;
}

.username-input {
  margin: 0 10px;
}

.console-icon {
  margin: 0 10px;
}

.delete-icon {
  cursor: pointer;
  margin: 0 10px;
  transition: color .3s;

  &:hover {
    color: #ffc107;
  }
}

.player-list {
  list-style: none;
  padding: 0;
}

